# Keep real credentials in .env (which is ignored by git).
MONGODB_URI=
MONGODB_DB_NAME=sard_ai

HF_API_TOKEN=
HF_QWEN_MODEL=Qwen/Qwen3-235B-A22B-Instruct-2507
HF_CHAT_ENDPOINT=https://router.huggingface.co/v1/chat/completions
GEMINI_API_KEY=
GEMINI_TEXT_MODEL=gemini-2.5-flash
GEMINI_API_ENDPOINT=https://generativelanguage.googleapis.com/v1beta
HF_IMAGE_SPACE_ID=prithivMLmods/FLUX.2-Klein-LoRA-Studio
HF_IMAGE_SPACE_URL=https://prithivmlmods-flux-2-klein-lora-studio.hf.space
HF_VIDEO_SPACE_ID=zerogpu-aoti/wan2-2-fp8da-aoti-faster
HF_VIDEO_SPACE_URL=https://zerogpu-aoti-wan2-2-fp8da-aoti-faster.hf.space
HF_TTS_SPACE_ID=innoai/Edge-TTS-Text-to-Speech
HF_TTS_SPACE_URL=https://innoai-edge-tts-text-to-speech.hf.space
HF_TTS_ENDPOINT=https://innoai-edge-tts-text-to-speech.hf.space/gradio_api/call/tts_interface
HF_TTS_MALE_VOICE=ar-SA-HamedNeural - ar-SA (Male)
HF_TTS_FEMALE_VOICE=ar-SA-ZariyahNeural - ar-SA (Female)

IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_PUBLIC_KEY=
